body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.ClimateTable {
    margin-left: 120px;   
}

footer p{
    margin-top: 20px;
    text-align: center;
}
.row {
    margin-top: 50px;
    border-bottom: 1px solid black;
}
.clauseTd {
    padding: 10px;
    border: 1px solid blue;
    border-radius: 10px;
    background: lightblue;
    width: 70px;
}

.row div {
    display: inline-block;
    margin: 5px;
        
}

div.resultTd {
    padding: 10px;
    border: 1px solid blue;
    background: lightblue;
    width: 240px;
    text-align: center;

}

.tussen {
    padding: 10px;
    width: 100px;
    text-align: center;
    width: 70px;
}

div.determinateResult {
    margin: 20px;
    padding: 20px;
    font-size: 120%;
    font-weight: bold;
    color: pink;
}