body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.ClimateTable {
    margin-left: 120px;   
}

footer p{
    margin-top: 20px;
    text-align: center;
}
.row {
    margin-top: 50px;
    border-bottom: 1px solid black;
}
.clauseTd {
    padding: 10px;
    border: 1px solid blue;
    border-radius: 10px;
    background: lightblue;
    width: 70px;
}
.row div {
    display: inline-block;
    margin: 5px;
        
}

div.resultTd {
    padding: 10px;
    border: 1px solid blue;
    background: lightblue;
    width: 240px;
    text-align: center;

}
div.resultTdAct {
    padding: 10px;
    border: 2px solid red;
    border-radius: 10px;
    background: goldenrod;
    width: 240px;
    text-align: center;
}
.tussen {
    padding: 10px;
    width: 100px;
    text-align: center;
    width: 70px;
}

div.determinateResult {
    margin: 20px;
    padding: 20px;
    font-size: 120%;
    font-weight: bold;
    color: pink;
}

.tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05)
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}
.ClimateChart {
    width: 800px;
    height: 400px;
}
.warning {
color: #9F6000;
background-color: #FEEFB3;
}
.success {
color: #4F8A10;
background-color: #DFF2BF;
}

.breadcrumbs {
    padding: 10px!important;
    margin: 20px;
    margin-bottom: 0px;
    font-size: 85%;
    background-color: beige;
}
.invis {
    visibility: hidden;
}