@model p2groep11.Net.ViewModels.GradeViewModel

@{
    Layout = null;
}

<h2>Kies je graad</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.Grades, htmlAttributes: new { @class = "control-label col-md-2" })
        <label for="Grades" class="control-label col-md-2">Graad</label>
        <div class="col-md-10">
            @Html.DropDownList("Grades", null, "--selecteer graad--", new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Grades, "", new { @class = "text-danger" })
        </div>
    </div>
    
    <!-- Hoe moet ik nu verder...-->
}

<div>
    @Html.ActionLink("Maak de oefening", "Index", "Home") <!-- Voorlopig linkt dit naar de home-->
</div>
