
@using p2groep11.Net.Models.Domain
@model p2groep11.Net.ViewModels.ClimateChartViewModel
<link rel="stylesheet" type="text/css" href="../../Content/bootstrap-tree.css"/>
@{
    ViewBag.Title = "Klimatogram";
}


<div class="tree">
    <ul>
        @Html.Raw(@Model.HtmlDetTabel);
    </ul>
</div>



