
@using p2groep11.Net.Models.Domain
@model p2groep11.Net.ViewModels.ClimateChartViewModel
<link rel="stylesheet" type="text/css" href="../../Content/bootstrap-tree.css"/>
@{
    ViewBag.Title = "Klimatogram";
}

<div class="warning">
</div>
<div class="success">
</div>
<div class="tree">
    <ul>
        @Html.Raw(@Model.HtmlDetTabel);
    </ul>
    <input type="button" class="testBut" value="Valideer"/>
</div>
<script src="../../Content/DeterminateTabelInteraction.js" type="text/javascript"></script>


