
@using System.Activities.Statements
@using System.Collections.Specialized
@using p2groep11.Net.Models.Domain
@model p2groep11.Net.ViewModels.ClimateChartViewModel
<link rel="stylesheet" type="text/css" href="../../Content/bootstrap-tree.css"/>

@{
    ViewBag.Title = "Klimatogram";
}
@if (ViewBag.SchoolYear <= 2) { 
<h2>Vragen</h2>

foreach (var item in Model.QuestionListVM)
{
    <div class="form-group">
        <p>@item.Beschrijving</p>
        @Html.DropDownListFor(model => item.Answer, item.OptAnswers)
        @Html.ValidationMessageFor(model => item.Answer, "", new {@class = "text-danger"})
    </div>
}


foreach(var antw in Model.JuisteAntwoorden){
        <span class="invisAnswers">@antw</span>
}


    <div class="form-group">
        <input type="submit" value="Controleer" class="btn btn-default"/>
    </div>

    <script src="../../Content/CheckCorrectAnswer.js"></script>
}