@model IEnumerable<p2groep11.Net.ViewModels.ContinentsListViewModel>

@{
    ViewBag.Title = "Continents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Continenten</h2>

@foreach (var item in Model) 
{
    <div>
        @Html.ActionLink(@item.Name, "ListCountries", new { Selectedyear = @ViewBag.SchoolYear,continentId = item.ContinentID})
    </div>
}


