@model p2groep11.Net.ViewModels.CountryListViewModel

@{
    ViewBag.Title = "Countries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Countries</h2>
<p>
    @using (Html.BeginForm("ListCountries", "Continent", FormMethod.Get))
    {
    <div>
        Land: @Html.TextBox("Search")
        <input type="submit" value="Filter" />
    </div>
    }
</p>

<div>
    @foreach (var item in Model.Countries)
    {
        <div>
            @Html.ActionLink(@item.Name, "ListLocations",
                new {Selectedyear = @ViewBag.SchoolYear, continentId = item.Continent.ContinentID, countryId = item.CountryID})
        </div>       
    }
</div>
 
    


