@model IEnumerable<p2groep11.Net.ViewModels.LocationListViewModel>

@{
    ViewBag.Title = "Locations";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Locaties</h2>

<p>
    @using (Html.BeginForm("ListLocations", "Continent", FormMethod.Get))
    {
        <div>
            Locatie: @Html.TextBox("Search")
            <input type="submit" value="Zoek" />
        </div>
    }
</p>

<div>
    @foreach (var item in Model)
    {
        <div>      
            @Html.ActionLink(@item.Location, "ShowClimateChart", "ClimateChart",
            new { SelectedYear = ViewBag.SchoolYear, continentId = item.ContinentID, countryId = item.CountryID, climateId = item.ClimateChartID }, null)
        </div>
    }
</div>