@model p2groep11.Net.ViewModels.CountryListViewModel

@{
    ViewBag.Title = "Countries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Countries</h2>
<p>
    @using (Html.BeginForm("ListCountries", "Continent", FormMethod.Get))
    {
    <p>
        Land: @Html.TextBox("Search")
        <input type="submit" value="Filter" />
    </p>
    }
</p>

@foreach (var item in Model.Countries)
{
    <div>        
        @Html.ActionLink(@item.Name, "ListCountries")
    </div>
}
