@model p2groep11.Net.ViewModels.ContinentsListViewModel

@{
    ViewBag.Title = "Continents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Continents</h2>

@foreach (var item in Model.Continents) 
{
    <div>
        @Html.ActionLink(@item.Name, "ListCountries", new { grade = @ViewBag.Grade,continentId = item.ContinentID})
    </div>
}


