@model p2groep11.Net.ViewModels.SchoolYearCreateViewModel

@{
    ViewBag.Title = "SchoolYearCreate";
}

<h2>SchoolYearCreate</h2>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.SelectedYear, htmlAttributes: new {@class = "control-label col-md-2"})
    <div class="col-md-10">

        @Html.DropDownListFor(model => model.SelectedYear, Model.SchoolYears,
            "--Selecteer een schooljaar--", new {@class = "form-control"})
        @Html.ValidationMessageFor(model => model.SelectedYear, "", new {@class = "text-danger"})

    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Bevestig" class="btn btn-default"/>
        </div>
    </div>
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
